@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

//main font family
$fontFamily: "Rubik", sans-serif;

//main font size
$fontSize: 18px;

//main color
$blue: hsl(246, 80%, 60%);

//work
$lightRed: hsl(15, 100%, 70%);

//play
$softBlue: hsl(195, 74%, 62%);

//study
$lightRed: hsl(348, 100%, 68%);

//exercise
$limeGreen: hsl(145, 58%, 55%);

//social
$violet: hsl(264, 64%, 52%);

//self care
$softOrange: hsl(43, 84%, 65%);

//other colors
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);

//liste de couleurs à itérer dans le card component
$color: (
  $softOrange,
  $lightRed,
  $softBlue,
  $lightRedStudy,
  $limeGreen,
  $violet
);

//liste d'images à itérer dans le card component
$images: (
  url("../../assets/self-care.svg"),
  url("../../assets/work.svg"),
  url("../../assets/play.svg"),
  url("../../assets/study.svg"),
  url("../../assets/exercise.svg"),
  url("../../assets/social.svg")
);
