@import "./../../variables.scss";

$images: (
  url("../../assets/self-care.svg"),
  url("../../assets/work.svg"),
  url("../../assets/play.svg"),
  url("../../assets/study.svg"),
  url("../../assets/exercise.svg"),
  url("../../assets/social.svg")
);

@for $i from 1 through length($images) {
  .cardContainer:nth-child(#{length($images)}n + #{$i}) {
    background: no-repeat top -5% left 94% / 70px #{nth($images, $i)};
  }
}

$color: (
  $softOrange,
  $lightRed,
  $softBlue,
  $lightRedStudy,
  $limeGreen,
  $violet
);

@for $i from 1 through length($color) {
  .cardContainer:nth-child(#{length($color)}n + #{$i}) {
    background-color: nth($color, $i);
  }
}

.cardContainer {
  border-radius: 16px;
  margin: 20px 0 0;
  .textContainer {
    border-radius: 15px;
    background-color: $darkBlue;
    min-height: 120px;
    display: flex;
    padding: 0 25px 0;
    justify-content: space-between;
    align-items: center;
  }
  .current {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .currentHours {
      font-size: 1.6em;
      font-weight: 300;
      p {
        margin: 0;
      }
    }
  }
  .previous {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $paleBlue;
    font-size: 0.8em;
    #ellipse {
      padding: 20px 0;
    }
  }
}

.enteteContainer {
  height: 25px;
}

@media screen and (min-width: 768px) {
  .cardContainer {
    height: 202px;
    margin: 10px;
    max-width: 250px;
    .textContainer {
      min-height: 162px;
    }
  }
}
