@import "./../../variables.scss";

$images: (
  url("../../assets/self-care.svg"),
  url("../../assets/work.svg"),
  url("../../assets/play.svg"),
  url("../../assets/study.svg"),
  url("../../assets/exercise.svg"),
  url("../../assets/social.svg")
);

@for $i from 1 through length($images) {
  .cardContainer:nth-child(#{length($images)}n + #{$i}) {
    background: no-repeat top -5% left 94% / 70px #{nth($images, $i)};
  }
}

$color: (
  $softOrange,
  $lightRed,
  $softBlue,
  $lightRedStudy,
  $limeGreen,
  $violet
);

@for $i from 1 through length($color) {
  .cardContainer:nth-child(#{length($color)}n + #{$i}) {
    background-color: nth($color, $i);
  }
}

.cardContainer {
  border-radius: 25px;
  margin: 20px 0 0;
}

.enteteContainer {
  height: 25px;
}

.textContainer {
  border-radius: 20px;
  background-color: $darkBlue;
  height: 120px;
}
